version: '3.3'
services:
  licensesrv:
    image: ibra/license-service:latest
    #build: ./license-service
    ports:
    - 8080:8080
    environment:
      PROFILE: dev
      CONFIGSERVER_URI: "http://confsrv:8888"
      EUREKASERVER_URI: "http://eurekasrv:8761/eureka/"
      ENCRYPT_KEY: "mykey"
      JAVA_OPT: "-Xms64m -Xmx128m"
    depends_on:
      - "db"
      - "confsrv"
      - "eurekasrv"
    command: "dockerize -wait http://confsrv:8888/actuator/health -wait-retry-interval 25s -timeout 180s \ 
			                  -wait http://eurekasrv:8761/actuator/health -wait-retry-interval 15s -timeout 180s \
                        /run.sh"
  orgsrv:
    image: ibra/org-service:latest
    ports:
    - 8080
    environment:
      PROFILE: dev
      CONFIGSERVER_URI: "http://confsrv:8888"
      EUREKASERVER_URI: "http://eurekasrv:8761/eureka/"
      ENCRYPT_KEY: "mykey"
      JAVA_OPT: "-Xms64m -Xmx128m"
    depends_on:
      - "db"
      - "confsrv"
      - "eurekasrv"
    command: "dockerize -wait http://confsrv:8888/actuator/health -wait-retry-interval 15s -timeout 180s \ 
			                  -wait http://eurekasrv:8761/actuator/health -wait-retry-interval 15s -timeout 180s \
                        /run.sh"
  db:
    image: postgres:10
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "microuser"
      POSTGRES_PASSWORD: "micropass"
      POSTGRES_DB: "eagle_eye"
    volumes:
      - "/home/docker/Documents/config/postgres-data:/var/lib/postgresql/data:z"

  confsrv:
    image: ibra/conf-service:latest
    #build: ./confsrv
    ports:
      - "8888:8888"
    environment:
      ENCRYPT_KEY: "mykey"
      JAVA_OPT: "-Xms64m -Xmx128m"
  eurekasrv:
    image: ibra/eureka-service:latest
    ports:
    - "8761:8761"
    environment:
      JAVA_OPT: "-Xms64m -Xmx128m"
